@use 'variable'as v;

.about-employer-section{
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  .about-employer-column{
    display: flex;
    flex-direction: column;
    width: 50.885%;
    .employer-info{
      margin-bottom: 5rem;
      .text{
        color: #000000;
      }
    }
    .contact-employer{
      .heading{
        margin-bottom: 2.5rem;
      }
      .conditions-row{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 3.625rem;
        .column{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.625rem;
          .conditions-heading{
            font-family: v.$f-onest;
            font-style: normal;
            font-weight: 400;
            font-size: v.$f-18;
            line-height: 150%;
            color: v.$blue;
          }
          .text{
            font-family: v.$f-onest;
            font-style: normal;
            font-weight: 500;
            font-size: v.$f-26;
            line-height: 150%;
            color: v.$black;
            transition: v.$transition;
            &:hover {
              color: v.$blue;
            }
          }
        }
      }
    }
  }
  .form-column{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.5rem;
    background: v.$white;
    width: 40.235%;
    border-radius: 5px;
    .heading{
      margin-bottom: 0.5rem;
    }
    .form-text{
      font-family: v.$f-onest;
      font-style: normal;
      font-weight: 400;
      font-size: v.$f-18;
      line-height: 150%;
      color: v.$black;
      margin-bottom: 2.5rem;
    }
    .form-section{
      margin-bottom: 1.5625rem;
    }
  }
}
