@use 'variable'as v;

.about-section {
  position: relative;
  overflow: hidden;
  background: v.$white;
  z-index: 0;

  /* Container */
  .about-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5rem;
  }


  /* Container parts*/
  .heading {
    width: 74%;
    margin-bottom: 0;
  }


  /* Scroll-box */
  .scroll-box {
    width: 95%;
    max-height: 23.45rem;
    overflow: hidden;
    overflow-y: scroll;
    margin: 2.5rem 0;

    p {
      position: relative;
      width: 92.08%;
      max-height: 100%;
      font-family: v.$f-onest;
      font-style: normal;
      font-weight: 400;
      font-size: v.$f-16;
      line-height: 169%;
      color: v.$black;
    }
  }

  /* Background image (dude)*/
  .background-img {
    z-index: 1;
  }

  /* Text box (Понад 10 років...)*/
  .text-box {
    max-width: 10.37rem;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5625rem;
    background: v.$blue;
    border-radius: 0.3125rem;
    position: absolute;
    left: 10%;
    top: 0;

    svg {
      margin-bottom: 2.8rem;
      animation: heart 2s infinite linear;
      display: block;

      * {
        fill: v.$white !important;
      }
    }

  @keyframes heart {
      0% {
          transform: scale(1);
      }

      50% {
          transform: scale(1.1);
      }

      65% {
        transform: scale(1);
      }

      85% {
        transform: scale(1.1);
      }

      100% {
          transform: scale(1);
      }
  }

    .text-box-text {
      font-family: v.$f-onest;
      font-style: normal;
      font-weight: 500;
      font-size: v.$f-14;
      line-height: 150%;
      color: v.$white;

    }
  }

  /* Top-left triangle*/
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 10.15rem solid transparent;
    border-top: 2.81rem solid v.$background;
    position: absolute;
    left: 5rem;
    top: 0;
    z-index: 1;
  }
}