@use 'variable' as v;

.advantages-section {

  /*Container*/
  .advantages-container {
    width: 100%;
    margin: 7.5rem auto;
    /*height: 24.5rem;/*392px*/

    /*Heading*/
    .advantages-heading {
      margin-bottom: 0.625rem; /*10px*/
    }

    /*Under-heading text*/
    .advantages-p {
      margin-bottom: 3.75rem; /*60px*/
    }

    /*Row*/
    .row-cols-5{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0;
      gap: 25px;

      /*Row columns*/
      .col-20{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5625rem;/*25px*/
        gap: 2.5rem;/*40px*/
        border-radius: 5px;
        width: 18.30%;
        transition: v.$transition;
        background: v.$white;
        &:hover {
          box-shadow: 0 5px 65px rgba(39, 41, 48, 0.15);
          transition: v.$transition;
          svg {
            * {
              transition: all 0.2s ease-in-out;
              fill: v.$blue;
            }
          }
        }

        div{
          width: 18.51%;/*40px or 2.5rem*/
          height: 18.51%;/*40px or 2.5rem*/
          display: flex;
          justify-content: center;
          align-items: center;
          svg{
            * {
              transition: all 0.1s ease-in-out;
              fill: #BDC2D1;
            }
          }
        }

        p{
          font-family: v.$f-onest;
          font-style: normal;
          font-weight: 400;
          font-size: v.$f-16;
          line-height: 156%;/* or 25px */
          color: v.$black;
        }

        &:nth-child(2n) {
          background: v.$dark-grey;
        }
      }
    }
  }
}
