$f-playfair: 'Playfair Display';
$f-raleway: 'Raleway';

/* 
    Font size

 ---------------------------*/

$f-18: calc(100vw / 106.7); /* base font */
$f-21: calc(100vw / 91.4);
$f-24: calc(100vw / 80);
$f-64: calc(100vw / 30);
$f-100: calc(100vw / 19.2);



/* 
    Color

 ---------------------------*/

$main: #324756;
$brown: #F8C98B;
$white: #fff;
$white-grey: #E9EDF0;
$dark-grey: #5E7586;
$dark: #22303A;

/*
    Start style

    ---------------------------*/

html {
    background: $main;
    max-width: 100vw;
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
    font-size: $f-18;

    * {
        outline: none !important;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
    
*::-webkit-scrollbar {
    width: 5px;
}
    
*::-webkit-scrollbar-track {
    background: $dark-grey;
    border-radius: 0px;
}
    
*::-webkit-scrollbar-thumb {
    width: 8px;
    background: $brown;
    border: 1px solid $brown;
    border-radius: 2px;
}
    
*::-webkit-scrollbar-thumb:hover {
    background: $dark;
    border: 1px solid $dark;
}

*::-moz-selection {
    background: $dark;
    color: $white;
}
    
h1 {
    font-family: $f-playfair;
    font-style: normal;
    font-weight: 500;
    font-size: $f-100;
    line-height: 105%;
    letter-spacing: 0.5px;
}
    
h2 {
    font-family: $f-playfair;
    font-style: normal;
    font-weight: 500;
    font-size: $f-64;
    line-height: 114%;
}
    
h3 {
    font-family: $f-raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: $f-24;
    line-height: 120%;
}
    
h4 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: $f-21;
    line-height: 120%;
}
    
h5 {
    font-size: $f-18;
}
    
h6 {
    font-size: $f-18;
}
    
a {
    color: $brown;
    text-decoration: none;
}
    
a:hover {
    color: $brown;
    text-decoration: none;
}
    
p {
    font-family: $f-raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $f-18;
    line-height: 150%;
    color: $white;
}
    
legend {
    font-size: $f-18;
    line-height: 130%;
}
    
label {
    font-size: $f-18;
    line-height: 130%;
}
    
button {
    border: none;
    outline: none;
}
    
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
    font-size: $f-18;
    line-height: 130%;
}
    
input,
textarea {
    font-family: $f-raleway, sans-serif;
    font-style: normal;
}

body {
    background: $main;
    color: $white;
    font-family: $f-raleway, sans-serif;
    font-size: $f-18;
    line-height: 1.5rem;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    min-width: 280px;
    z-index: 1;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;

    * {
        box-sizing: border-box;
    }
}