@use 'variable'as v;

.blog-section {
  margin: 2.5rem auto 7.5rem;
  .page-blog{
    gap: 1.5625rem;
    .single-blog{
      margin-top: 0;
      padding: 1.5625rem;
      gap: 1.5635rem;
      flex-direction: row;
      align-items: center;
      &:hover{
        margin-bottom: 0;
      }
      .text-col{
        display: flex;
        padding: 0.75rem 0;
        flex-direction: column;
        width: 48.35%;
        .article-date{
          display: flex;
          flex-direction: row;
          gap: 0.9375rem;
          margin-bottom: 0.625rem;
          svg{
            *{
              fill: v.$grey;
            }
          }
          .date-text{
            font-size: v.$f-12;
            color: v.$grey;
          }
        }
        .heading{
          font-weight: 400;
          line-height: 144%;
          color: v.$black;
          margin-bottom: 0.625rem;
        }
        :nth-child(3){
          font-size: v.$f-14;
          line-height: 150%;
          color: v.$grey;
          max-height: 5.2rem;
          margin-bottom: 1.25rem;
          overflow: hidden;
        }
        .read-more-button{
          height: 1.5625rem;
          .read-more{
            display: inline-flex;
            font-size: v.$f-12;
            line-height: 200%;
            color: v.$grey;
            transition: v.$transition;
            &:hover{
              color: v.$black;
              border-bottom: 1px solid v.$black;
              transition: v.$transition;
            }
          }
        }
      }
      .img-col{
        display: flex;
        flex-direction: column;
        width: 47.31%;
        overflow: hidden;
        align-items: center;
        .post-img{
          width: auto;
          height: 14.8125rem;
          border-radius: 5px;
          align-items: center;
        }
      }
    }
  }
}