@use 'variable' as v;

.contact-section {
  margin: 2.8125rem auto 7.5rem;

  /* Container */
  .contact-container{
    width:100%;
    height: 6rem;
    background: v.$orange;
    border-radius: 5px;
    display: flex;
    /*justify-content: center;*/
      .container-inner{
        padding: 1.875rem 3.75rem 1.875rem 3.75rem;
        gap: 3.25rem;
        display: flex;
        .contact-container-text{
          display: flex;
          padding: 0.3125rem 0 0.3125rem 0;
          .contact-container-p{

            height: 1.625rem;
            font-family: v.$f-onest;
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 150%;
            color: v.$white;
          }
        }
        .contacts{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0;
          gap: 1.5625rem;
          .phone-number{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            gap: 0.625rem;
            .phone-circle{
              display: flex;
              box-sizing: border-box;
              width: 2.25rem;
              height: 2.25rem;
              padding: 0.7rem 0.63rem 0.63rem 0.7rem;
              border: 0.0625rem solid #FF8D3A;
              border-radius: 50%;
              align-items: center;
              justify-content: center;
              svg{
                * {
                  fill: v.$white;
                }
              }
            }
            .phone-number-text{
              width: 9.1875rem;
              font-family: v.$f-onest;
              font-style: normal;
              font-weight: 500;
              font-size: v.$f-14;
              line-height: 18.75%;
              color: v.$white;
            }

          }.contact-social{
             display: flex;
             flex-direction: row;
             align-items: flex-start;
             padding: 0;
             gap: 0.625rem;
             .contact-social-links{
               box-sizing: border-box;
               display: flex;
               flex-direction: row;
               align-items: center;
               padding: 0.5rem 0.9375rem;
               gap: 0.9375rem;
               width: 3.125rem;
               height: 2.25rem;
               border: 0.0625rem solid #FF8D3A;
               border-radius: 44px;
               justify-content: center;
                 svg {
                   * {
                     transition: v.$transition;
                     fill: v.$white;
                   }
                 }
             }
           }
        }
      }
  }
}
