@use 'variable'as v;

.favorite-job-section {
  .heading {
    width: 83%;
  }

  /*Slider block*/
  .col-20 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: v.$white;
    border-radius: 5px;
    transition: v.$transition;
    margin-top: 3.75rem;
    &:hover {
      transition: v.$transition;
      box-shadow: 0 5px 65px rgba(39, 41, 48, 0.15);
      margin-top: 3.125rem;
      .name-container{
        .number-div{
          transition: v.$transition;
          background: v.$blue;
          .number-of-vacancies{
            transition: v.$transition;
            color: v.$white;
          }
        }
      }
    }

    .name-container {
      box-sizing: border-box;
      padding: 1.5625rem;
      width: 100%;

      /*Name*/
      .number-div{
        display: inline-flex;
        transition: v.$transition;
        padding: 0.3125rem 0.625rem;
        background: #E4F2FF;
        border-radius: 15px;
        margin-bottom: 0.625rem;
        .number-of-vacancies {
          transition: v.$transition;
          font-family: v.$f-onest;
          font-style: normal;
          font-weight: 400;
          font-size: v.$f-12;
          line-height: 150%;
          color: v.$blue;
        }
      }

      /*Job*/
      .vacancy-name {
        font-family: v.$f-onest;
        font-style: normal;
        font-weight: 400;
        font-size: v.$f-16;
        line-height: 150%;
        color: v.$black;
      }
    }
  }
}