@use 'variable' as v;

footer {
    background: v.$black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px 0;

    .width-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >div {
            flex: 1 0 calc(100% / 3);
        }

        .copyring-text,
        .powered-text {
            font-style: normal;
            font-weight: 400;
            font-size: v.$f-12;
            line-height: 15px;
            color: v.$grey;

            a {
                font-style: normal;
                font-weight: 400;
                font-size: v.$f-12;
                line-height: 15px;
                color: v.$grey;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;

                svg {
                    margin-left: 5px;
                }
            }
        }
    }

    .footer-menu-list {
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 20px;

                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: v.$f-12;
                    line-height: 15px;
                    color: v.$grey;
                    transition: v.$transition;

                    &:hover {
                        color: v.$white;
                    }
                }
            }
        }
    }
}