@use 'variable' as v;

.popular-job-section {
  .heading {
    width: 55%;
  }
  /*Feedback block*/
  .popular-job-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70.23%;
    background: v.$white;
    border-radius: 5px;
    transition: v.$transition;
    margin-top: 3.75rem;
    &:hover{
      transition: v.$transition;
      box-shadow: 0 5px 65px rgba(39, 41, 48, 0.15);
      margin-top: 3.125rem;
    }
      .popular-job-block{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .vacancy-img{
          height: 100%;
        }
        .text-block{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 1.5625rem;
          .vacancy-heading{
            font-family: v.$f-onest;
            font-style: normal;
            font-weight: 400;
            font-size: v.$f-16;
            height: 3rem;
            line-height: 150%;
            color: v.$black;
            margin-bottom: 0.625rem;
          }
          .price{
            font-family: v.$f-onest;
            font-style: normal;
            font-weight: 500;
            font-size: v.$f-21;
            line-height: 150%;
            color: v.$blue;
            margin-bottom: 0.625rem;
          }
            .more-cities{
                color: #BDC2D1;
            }
        }
      }
  }
}